# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# === Environnements ===
.venv/
venv/
.env

# === Notebooks ===
.ipynb_checkpoints/

# === VS Code / Editors ===
.vscode/
.history/
*.code-workspace

# === OS Files ===
.DS_Store
Thumbs.db

# === Logs / Misc ===
*.log
